
/* topbar logo css */
.logosize {
    width: 150px;
    height: auto; 
}
/* Topbar Button css */

.top-link {
    border: none;
    /* border-radius: 3px;  */
    padding: 8px 6px;
    font-size: 12px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    border-right: 2px solid rgba(65, 65, 65, 0.342);
    
}
.top-link:hover {
    background-color: #fff;
    color: white;
    display: flex;
    color: black;
    opacity: 70%;
}
.top-link.active {
    background-color: #fff;
    border-right: 2px solid rgba(65, 65, 65, 0.342);
    display: flex;
    color: black;
    opacity: 80%;
    font-weight: bold;

}
.group {
    border: none;
    border-radius: 3px; 
    padding: 8px 0px;
    font-size: 12px;
    color: white;
    white-space: nowrap;
}
.group:hover {
    color: white;
}

.container-fluid {
    justify-content: space-between;
    align-items: center;
}

.d-inline-flex {
    display: inline-flex;
    align-items: center;
}

/* Adjust the spacing between "Follow Us */
.follow-text {
    font-size: 12px;
    margin-bottom: -2px;
    margin-left: 20px;
}

.us-text {
    margin-left: 2px; 
}

.h-100.d-inline-flex.align-items-center {
    gap: 10px; 
}


/* Top Feature */
.feature-item {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.feature-item:hover {
    transform: translateY(-10px) scale(1.05);
    background-color: #d4edda; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.feature-item:hover .bg-white {
    background-color: #d4edda; 
}

